
 
 
  <!-- Main Page Content and Sidebar -->
 
  <div class="row main-content">

    <!-- Sidebar -->
 
    <aside class="large-3 columns right">
      <div class="row">
        <div class="large-12 small-6 columns">
          <h5>Clay Whitley</h5>
          <hr />

          <h6>Experience:</h6>
          <ul class="side-nav">
            <li><a href="#">BGC</a></li>
            <li><a href="#">DBC</a></li>
            <li><a href="#">Freelance</a></li>
          </ul>
        </div>
        <div class="large-12 small-6 columns">
          <h6>Skills:</h6>
     
          <ul class="side-nav">
            <li>HTML and HTML5</li>
            <li>CSS</li>
            <li>Javascript (including jQuery and Backbone.js)</li>
            <li>Ruby on Rails</li>
            <li>Node.js</li>
            <li>SQL and MongoDB</li>
            <li>Git and Github</li>
            <li>Photoshop and Illustrator</li>
          </ul>
        </div>
      </div>
    </aside>
 
    <!-- End Sidebar -->
 
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
      <div class="row">
        <div class="large-12 columns">
          <div class="row">
            <div class="small-2 columns">
              <button class="button" id="prev-project">prev</button>
            </div>
            <div class="small-8 columns">
              <table>
                <tr class="title_table_first_row">
                  <td class="title_table_left">Project:</td>
                  <td id="project_name" class=""></td>
                </tr>
                <tr>
                  <td class="title_table_left">Tech:</td>
                  <td id="project_tech" class="project_label">Lorem ipsum</td>
                </tr>
              </table>
            </div>  
            <div class="small-2 columns">
              <button class="button" id="next-project">next</button>
            </div>
          </div>
        </div>
      </div>
      <% @projects.each do |project| %>
        <div class="project_body" data-active="false" data-projectname="<%= project.name %>">
          <div class="row panel">
            <div class="large-12 columns">
              <% unless project.screenshots.empty? %>
                <img src=<%= project.screenshots.first.url %> alt="">
              <% end %>
            </div>
          </div>
          <div class="url-dropdown">
            URL: <%= project.url %>
          </div>
        </div>
      <% end %>
    </div>
 
    <!-- End Main Content -->
  </div>
 
  <!-- End Main Content and Sidebar -->
