<% @posts.each do |post| %>
  <div class="large-12 columns">
    <h3><%= post.title %></h3>
    <span>Tags:
      <% post.tags.each do |tag| %>
        <%= tag.name %>
      <% end %>
    </span>
    <hr>
    <p><%= truncate(post.content, length: 100) %></p>
    <%= link_to "View post", post_path(post) %>
  </div>
<% end %>