#main_nav {
  list-style: none;
  margin-bottom: 0;
  max-width: 100%;
}

#main_nav a {
  box-sizing: border-box;
  background-color: #CCC;
  border: 1px solid #999;
  text-align: center;
  height: 120px;
  color: white;
  font-size: 45px;
  padding: 25px 0;
}

#main_nav a.active {
  background-color: #999;
}


.clearfix {
  clear: both;
}

body {
  background: url('/images/triangular.png');
}

.main-content {
  background-color:rgba(255,255,255,0.5);
  padding: 15px 0;
}