.title_table_first_row > td {
  border-bottom: 1px solid black;
}

.title_table_left {
  border-right: 1px solid black;
}

.project_body {
  display: none;
}

.project_label {
  width: 100%;
}

.url-dropdown {
  width: 200px;
  margin:0 auto;
  border-bottom: 1px solid #BBB;
  border-left: 1px solid #BBB;
  border-right: 1px solid #BBB;
  background-color: #DDD;
  display:none;
  text-align: center;
  padding: 10px 0;
}